.listCompany {
    width: 85vw;
    padding: 1rem;
}


.listCompany table thead {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #686868;
}

.listCompany table thead th {
    width: 33%;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.companyItem td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    background: #4E59FF;
    color: white;
    border-radius: 4px
}

table {
    padding: 12px;
    width: 60vw;
    text-align: left;
    border-collapse: separate;
    border-spacing: 1px 30px;
}

table th {
    padding: 12px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #686868;

}

table td {
    padding: 12px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

table tbody tr {
    border-bottom: solid 1px #D6D6D6;
    border-right: solid 1px #D6D6D6;
    border-left: solid 1px #D6D6D6;
    border-top: 1px solid #D6D6D6;
}

#campanyType {
    background: #4E59FF;
    border-radius: 4px;
    padding: 6px 8px;
    color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}