
select{
    display: flex;
flex-direction: row;
align-items: center;
padding: 5px 30px;
gap: 10px;
background: #FFFFFF;
/* Colors/Grey/003 */

border: 1px solid #D6D6D6;
border-radius: 6px;
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}